http {


    server {

        root                /Users/ymafaman/Desktop/wsnewest;
        upload_directory    /Users/ymafaman/Desktop/wsnewest/uploads;
        listen              8888;
        server_names        a.com;
        cgi_extention .php;

        allowed_methods     POST GET;
        host                localhost;
    }
}
