http {



    client_max_body_size 100005;

    autoindex on;

    server {

        allowed_methods GET;

        autoindex off;
    
        host  10.13.12.100;
        listen  8080;

        server_names  a.com b.com;

        error_page 404 404.html;

        root  /folder;

        location /abc.txt {

            allowed_methods DELETE POST;


            root /folder2;
            error_page 404 "404_2.h   tml"; 
    
            return 404 /efg.txt;
        } 

        location /folder {

            index o.html;
            cgi_extention .php;

            upload_dir /upload;
        }

    }

    
}
