http {

    server {

        root /Users/ymafaman/Desktop/wsnewest/z_site/;

        host localhost;
        server_names example.com example.net;
        listen 9998;
        allowed_methods     POST GET HEAD DELETE;
        cgi_extention .php;
        error_page 404 404.html;
        upload_directory /Users/ymafaman/Desktop/wsnewest/data ;

        location /rid {
            return 302 /index.html;
            error_page 400 "weqwe";
        }

        location /about {
			autoindex on;
        }

        location /file {
            return 302 /index.html;
        }
    
        location /files {
            autoindex on;
        }
    }
}
